
.input_name{
  font-family: Oswald-Medium;
  font-size: 12px;
  color: #43383e;
  line-height: 1.2;

  position: absolute;
  top: 200px;
  left: 620px;
  display: block;
  width: 150px;
  height: 30px;
  background: #fff;
  border-radius: 31px;
  padding: 0 35px 0 35px;
}


.input_email{
    font-family: Oswald-Medium;
    font-size: 12px;
    color: #43383e;
    line-height: 1.2;
  
    position: absolute;
    top: 250px;
    left: 620px;
    display: block;
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px 0 35px;
  }

.input_pass{
    font-family: Oswald-Medium;
    font-size: 12px;
    color: #43383e;
    line-height: 1.2;
  
    position: absolute;
    top: 300px;
    left: 620px;
    display: block;
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 31px;
    padding: 0 35px 0 35px;
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 30px;
    background-color: transparent;
    border-radius: 31px;
  
    font-family: Oswald-Regular;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    top: 345px;
    left: 653px;
    z-index: 1;
  }
  
  .login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    /*top: 340px;
    left: 655px;*/
    z-index: -1;
    width: 100%;
    height: 30px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #333333;
    pointer-events: none;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover:before {
    background-color: #222222;
    width: calc(100% + 20px);
  }


  .txt3 {
    font-family: Oswald-Regular;
    font-size: 16px;
    color: #333333;
    line-height: 1.2;
    text-transform: uppercase;
    position: absolute;
    top: 750px;
    left: 703px;
  }

  .bo1 {border-bottom: 1px solid #929292;}

  .hov1:hover {
    border-bottom: 1px solid #111111;
    color: #111111;
  }

  .txt_bottem{
    font-family: Oswald-Regular;
    font-size: 16px;
    color: #333333;
    position: absolute;
    top: 705px;
    left: 655px;
  }

  #custom-alert {
    top: 10px;
    position: fixed;
  }

  #btnLoginGooglePop {
      position: absolute;
      top: 390px;
      left: 645px;
  }
  