div {
    /*height: 200px;
    width: 400px;*/
    font-size: 30px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

button {
    width:50px;
    height:35px;
    font-size:25px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color:#e7e7e7;
    color: white;
}
