/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/*button {
    width:80px;
    height:35px;
    font-size:25px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color:#e7e7e7;
    color: black;
}*/

#profile_logo{
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-size: 60px;
}

.profile-logo{
  position: absolute;
  top:5px;
  left:20px;
  text-align:center;
  cursor: pointer;
}

  /* Profile container */
  .profile {
    margin: 20px 0;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    width: 200px;
    height: 600px;
  }
  
 /* .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }*/
  
  #useEmail {
      font-size: 16px;
  }

  #user {
      font-size: 16px;
      text-align: left;
  }

  .profile-usertitle {
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    top: 50px;
    left: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    color: #5b9bd1;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-left: 150px;
  }

  #useAccount {
      position: absolute;
      top:90px;
  }

  #useEmail {
    font-size: 20px;
    position: absolute;
    top:160px;
  }

  #usePhone{
    font-size: 20px;
    position: absolute;
    top:230px;
  }

  #useAddress{
    font-size: 20px;
    position: absolute;
    top:300px;
  }

  #contentName {
    color: #17456b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    top: 20px;
    left: 50px;
  }

  #contentAccount {
    color: #17456b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    top: 90px;
    left: 50px;
  }

  #contentEmail {
    color: #17456b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    top: 160px;
    left: 50px;
  }

  #contentPhone {
    color: #17456b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    top: 230px;
    left: 50px;
  }

  #contentAddress {
    color: #17456b;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    position: absolute;
    top: 300px;
    left: 50px;
  }
  
  .profile-userbuttons {
    text-align: left;
    margin-top: 10px;
  }
  
  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
  }
  
  .profile-userbuttons .btn:last-child {
    margin-right: 0px;
  }
      
  .profile-usermenu {
    margin-top: 160px;
    font-size: 30px;
  }
  
  /*.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
  }*/

  ul.nav {
    list-style-type: none;
  }

  #arrow1 {
      font-size:13px;
      position: absolute;
      top: 210px;
      left: 27px;
  }

  #arrow2 {
    font-size:13px;
    position: absolute;
    top: 239px;
    left: 27px;
  }

  #arrow3 {
    font-size:13px;
    position: absolute;
    top: 280px;
    left: 27px;
  }

  #first {
    cursor: pointer;
  }

  #second {
    cursor: pointer;
  }

  #third {
    cursor: pointer;
  }

  .profile-usermenu ul li:last-child {
    border-bottom: none;
  }
  
  .profile-usermenu ul li {
    color: #93a3b5;
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    text-decoration: underline;
  }
  
 /* .profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 18px;
  }*/
  
  .profile-usermenu ul li:hover {
    color: #5b9bd1;
  }
  
  
  .profile-usermenu ul li.active {
    border-bottom: none;
  }
  
  .profile-usermenu ul li.active a {
    /*color: #5b9bd1;
    /*background-color: #f6f9fb;*/
    /*border-left: 2px solid #5b9bd1;*/
    margin-left: -2px;
  }
  
  /* Profile Content */
  .profile-content {
    border: 2px solid #aaa1ce;
    padding: 20px;
    /*background: #fff;*/
    min-height: 460px;
    width: 700px;
    height: 500px;
    position: absolute;
    top:100px;
    left: 400px;
  }

  #edit{
    position: absolute;
    top:0px;
    left: 680px;
    text-decoration: underline;  
    color: #93a3b5;
    cursor: pointer;
  }

  #txtName{
    position: absolute;
    top:40px;
    left:200px;
  }

  #profile_logo{
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-size: 60px;
    position: absolute;
    top:20px;
    left:30px;
	  text-align:center;
    cursor: pointer;
}
