#logo{
    position: absolute;
    top: 20px;
    left: 80px;
    color: black;
    
}

#Woof{
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-size: 60px;
}

#final_info{
    position: absolute;
    top: 140px;
    left: 280px;
}

#clearcart{
    cursor: pointer;
}

#deleteItem{
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#deleteItem:focus {
    border: none;
    border-bottom: 2px solid red;
}

#confirmDelete{
    border: none;
    border-bottom: 2px solid rgb(70, 68, 68);
    border-right:2px solid rgb(70, 68, 68);
    border-top: 2px solid #c7bdbd;
    border-left: 2px solid #c7bdbd;
    padding: 3px;
    border-radius: 3px;
    outline:none;
    cursor: pointer;
}

#deleteword{
    font-family: cursive;
}


