a.button {
    position: relative;
    top: -50px;
    left: 600px;
    width: 120px;
    color: #93a3b5;
    font-size: 20px;
	display:block;
	text-decoration:none;
	/*margin:0 auto;*/
	border-radius: 9px;
	border:solid 1px rgb(191, 187, 219);
	background:rgb(239, 239, 243);
	text-align:center;
    padding:5px 7px;
    cursor: pointer;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
    transition: all 0.1s;
    
    -webkit-box-shadow: 0px 6px 0px #e0dbe0;
    -moz-box-shadow: 0px 6px 0px #e0dbe0;
    box-shadow: 3px 3px 0px #e0dbe0;
}
a.button:hover {
    background-color: #cad8e6;
}

a.button:active {
    background-color: #cad8e6;
    box-shadow: 0 1px #e0dbe0;
    transform: translateY(4px);
  }
